 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(184417-farmacia-castelo-fondo.jpg);
  }
main {
    flex: 1 0 auto;
}

.slider {
  width: 100%;
  margin: 0 auto;
  transition-duration :20;
}

.slider .slides li img {
    background-size:  100% auto;
   
    background-repeat: no-repeat;
   
}

.slides{
      background-size:  100% auto;

}

 .parallax-container {
      height: 300px;
    }



.titulo{
  font-family: 'Fjalla One', sans-serif;
}

.untitulo{
  font-family: 'Lobster', cursive;
}

.brand-logo{
  font-family: 'Great Vibes', cursive;
}

.contacto{
  font-family: 'Fjalla One', sans-serif;
}
