 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(184417-farmacia-castelo-fondo.jpg);
  }
main {
    flex: 1 0 auto;
}

.slider {
  width: 100%;
  margin: 0 auto;

}

.contacto{
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;

}

.carousel{
  font-size: 20px;
}

#im1{
  background-color: #FFC600;
}

#im2{
  background-color: #9EE3E5 ;
}

#im3{
  background-color: #7DAEC2;
}

#im4{
  background-color: #2B48EB;
}

#conoce{
  color: #121A2B;
  text-shadow: 8px 8px 10px #B655D3; 
  text-decoration: underline;
}

.section{
  background-image: url(f2.jpg);
}

.slider .slides li img {
    background-size:  100% auto;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;

}

.regimg1{
  border-radius: 20%;

  border-color: black;

}


.prodtit{
  text-decoration: underline;
  text-shadow: 8px 8px 10px #FFD38D; 

}

.reg{
  background-color: #BBCEB4;
  text-decoration: underline;
  color: #1612EE;
  font: monospace;
  border-radius: 5%;
  padding: 15px;
}


.slides{
      background-size:  100% auto;

}

 .parallax-container {
      height: 300px;
    }



.titulo{
  font-family: 'Fjalla One', sans-serif;
}

.untitulo{
  font-family: 'Lobster', cursive;
}

.brand-logo{
  font-family: 'Great Vibes', cursive;
}

.contacto{
  font-family: 'Fjalla One', sans-serif;
}