{% extends 'farmacia/cuerpo.html' %}
{% block contenido %}
{% if productos %}
    <div class="formulariodiv">
    <table>
    <thead>
        <tr>
            <td>Folio</td>
            <td>Nombre</td>
            <td>Provedor</td>
            <td>Descripcion</td>
            <td>Cantidad</td>
            <td>Clasificacion</td>
            <td>Precio</td>
            <td>Descuento</td>
        </tr>
    </thead>
    <tbody>

        {% for producto in productos %}
            <tr>
                <td>{{ producto.folio }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.provedor }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.clasificacion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.descuento }}</td>
                <td>
                    <a href="{% url 'producto_eliminar' Folio=producto.folio %}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    {% else %}
    <p>No hay registros</p>
    {% endif %}


{%  block footer %}
    <footer class="page-footer light blue darken-2" style="position:relative;bottom:0;left:0;width:100%;">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="http://proteco.mx/cursos">
      © PROTECO - Generación 36
      </a>
      Jiménez Vega Alex Fernando -17
      <br>
      Barrero Olguin Patricio- 10 <br>
      Pablo Alberto Lobato Ceballos- 14 <br>
    </div>
  </div>
</footer>
    {% endblock %}

{% endblock %}
