{% extends 'farmacia/cuerpo.html' %}
{% block contenido %}
    <div class="container">
      <br>
        <div class="formulariodiv">
        <div class="row">
            <div class="col s0 m2">

            </div>
            <div class="col s12 m8">
                <h1>Iniciar Sesion</h1>
                <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
        <button type="submit">Aceptar</button>
        <a href="{% url 'recuperarContrasena' %}">Olvide mi contraseña</a>
   {% if messages %}
       <ul class="messages">
            {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    </form>
            </center>

            </div>
            <div class="col s0 m2">

            </div>
        </div>
</div>
    </div>


    <br>
    <br>

    {%  block footer %}
    <footer class="page-footer light blue darken-2" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="http://proteco.mx/cursos">
      © PROTECO - Generación 36
      </a>
      Jiménez Vega Alex Fernando -17
      <br>
      Barrero Olguin Patricio- 10 <br>
      Pablo Alberto Lobato Ceballos- 14 <br>
    </div>
  </div>
</footer>
{%  endblock %}
{% endblock %}
