{% extends 'admin/miCuenta.html' %}
{% block contenido %}

  {% include 'farmacia/carrito.html' %}

   {%  block footer %}
    <footer class="page-footer light blue darken-2" style="position:fixed;bottom:0;left:0;width:100%;">
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="http://proteco.mx/cursos">
      © PROTECO - Generación 36
      </a>
      Jiménez Vega Alex Fernando -17
      <br>
      Barrero Olguin Patricio- 10 <br>
      Pablo Alberto Lobato Ceballos- 14 <br>
    </div>
  </div>
</footer>
{%  endblock %}
 
{% endblock %}
