{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}



{% block contenido %}

		<div class="nav-wrapper">
			<nav>
				<div class="nav-wrapper cyan center">
					<ul class=" center hide-on-med-and-down center">
						<li><a href="medicamentos.html">Medicamentos</a></li>
						<li><a href="bebes.html">Bebés</a></li>
						<li><a href="sexo.html">Salud Sexual</a></li>
						<li><a href="botiquin.html">Botiquín y Suplementos</a></li>
					</ul>
				</div>
			</nav>
		</div>



	<div class="container">
		<div class="row">
			<br><br><br>
			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_jabon.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1 ">Jabón para bebé 75g<i class="material-icons right" >more_vert</i></span>
						<p >$17.50</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1" >Jabón para bebé<i class="material-icons right">close</i></span>
						<p>Para cuidar la piel sensible de los más pequeños</p>
						<p>Presentacion de 75g</p>
						<p>$17.50</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200"  src="{% static "farmacia/img/prod_mat_mamila.jpeg" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Biberones Philips <i class="material-icons right">more_vert</i></span>
						<p><!--a href="#"></a-->$399.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Biberones Philips<i class="material-icons right">close</i></span>
						<p>Biberones inteligentes para bebés idem</p>
						<p>Empaque con 3 piezas
						</p>
						<p>$399.00</p>
						<br>
						<a class="waves-effect waves-light btn">Comprar</a>

					</div>
				</div>
			</div>

			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200"  src="{% static "farmacia/img/prod_mat_suero.jpg" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Suero Oral 625ml<i class="material-icons right">more_vert</i></span>
						<p><a href="#"></a>$19.90</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Suero Oral Electrolit<i class="material-icons right">close</i></span>
						<p>Suero rehidratante adicionado con sales y minerales</p>
						<p>Botella de 625ml</p>
						<p>$19.90</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_juguito.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Compota en bolsa 113g<i class="material-icons right">more_vert</i></span>
						<p>$11.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Compota Heinz en bolsa<i class="material-icons right">close</i></span>
						<p>Compota Heinz de varios sabores ideal para bebés</p>
						<p>Presentacion de 113g</p>
						<p>$11.00</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<br>
			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_panal.jpg" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Pañales Huggies 36 pzas<i class="material-icons right">more_vert</i></span>
						<p>$235.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Pañales Huggies Etapa 2<i class="material-icons right">close</i></span>
						<p>Pañales huggies etapa 2 para pequeñines</p>
						<p>Presentacion con 36 pzas</p>
						<p>$235.00</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_gerber.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Papilla Gerber 71g<i class="material-icons right">more_vert</i></span>
						<p>$11.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Papilla Gerber etapa 2<i class="material-icons right">close</i></span>
						<p>Alimento para bebé varios sabores</p>
						<p>Frasco de 71g</p>
						<p>$11.00</p>
						<br>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_cremita.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Crema Bioderma 75g<i class="material-icons right">more_vert</i></span>
						<p>$185.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Crema Bioderma <i class="material-icons right">close</i></span>
						<p>Crema auxiliar en reparar barreras cutáneas debilitadas</p>
						<p>presentacion 75g</p>
						<p>$185.00</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_pomada.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Vitacilina Bebé 110g<i class="material-icons right">more_vert</i></span>
						<p>$49.90</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Vitacilina Prebébe<i class="material-icons right">close</i></span>
						<p>Crema que alivia el enrojecimiento de la zona nalgar</p>
						<p>Tubo con 110g</p>
						<p>$49.90</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>
		</div>



		<div class="row">
			<br>
			<div class="col s12 m3 ">

			</div>

			<div class="col s12 m3 ">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_leche.jpg" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Leche en polvo 560g<i class="material-icons right">more_vert</i></span>
						<p>$52.00</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Leche en polvo N I D O<i class="material-icons right">close</i></span>
						<p>Leche Entera en Polvo especialmente diseñada para bebés</p>
						<p>Lata con 560g</p>
						<p>$52.00</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>

			<div class="col s12 m3">
				<div class="card">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_mat_shampoo.png" %}">
					</div>
					<div class="card-content">
						<span class="card-title activator light-blue-text text-lighten-1">Champú Jhonson's <i class="material-icons right">more_vert</i></span>
						<p>$90.90</p>
					</div>
					<div class="card-reveal">
						<span class="card-title light-blue-text text-lighten-1">Shampoo Jhonson's Baby<i class="material-icons right">close</i></span>
						<p>No produce ardor en los ojos y es suave con la piel del bebé</p>
						<p>Presentacion 400ml</p>
						<p>$90.90</p>
						<a class="waves-effect waves-light btn">Comprar</a>
					</div>
				</div>
			</div>


		</div>

	</div>




{% endblock %}
