{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}


{% block contenido %}

  <div class="nav-wrapper">
    <nav>
      <div class="nav-wrapper cyan center">
        <ul class=" center hide-on-med-and-down center">
          <li><a href="medicamentos.html">Medicamentos</a></li>
          <li><a href="bebes.html">Bebés</a></li>
          <li><a href="sexo.html">Salud Sexual</a></li>
          <li><a href="botiquin.html">Botiquín y Suplementos</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>



<div class="container">
  <div class="row">
   <br><br><br>


   <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_botiquin.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Kit de primeros auxilios<i class="material-icons right">more_vert</i></span>
        <p>$779.75</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Kit de primeros auxilios<i class="material-icons right">close</i></span>
        <p>Como lo vio en su shooter favorito</p>
        <p>Incluye bendas, jeringas y material de curacion</p>
        <p>$779.75</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_pharmaton.png" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Pharmaton Cápsulas 40mg<i class="material-icons right">more_vert</i></span>
        <p>$312.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Pharmaton Cápsulas<i class="material-icons right">close</i></span>
        <p>Para mejorar la concentracion </p>
        <p>Frasco con 30 comprimidos</p>
        <p>$312.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>


  <div class="col s12 m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_vitaminas.png" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Vitaminas (Zinc) 100 cápsulas<i class="material-icons right">more_vert</i></span>
        <p>$147.69</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Vitaminas (Zinc) 100 cápsulas<i class="material-icons right">close</i></span>
        <p>Ideal para aumentar la testosterona sin sacrificar un riñon</p>
        <p>0.38g por cápsula</p>
        <p>$147.69</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_alcohol.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Alcohol Etílico 1000ml<i class="material-icons right">more_vert</i></span>
        <p>$25.50</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Alcohol Etílico Azul<i class="material-icons right">close</i></span>
        <p>Se puede mezclar con sprite y pastillas de sabores</p>
        <p>Envase de 1Lt</p>
        <p>$25.50</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>






</div>

<div class="row">
 <br>



 <div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_curitas.jpeg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Curitas color piel (30 pzs.)<i class="material-icons right">more_vert</i></span>
      <p>$39.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Curitas color piel (30 pzs.)<i class="material-icons right">close</i></span>
      <p>Protege tus heridas para llevar tu vida normal </p>
      <p>Caja con 30 banditas adhesivas</p>
      <p>$39.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>


<div class="col s12 m3 ">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_esteroides.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Tratamiento de esteroides<i class="material-icons right">more_vert</i></span>
      <p>$321.11</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Tratamiento de esteroides<i class="material-icons right">close</i></span>
      <p>Tratamiento de esteroides que no te puede faltar</p>
      <p>Caja con 10 ampolletas</p>
      <p>$321.11</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>


<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_jeringas.jpeg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Jeringa de 5ml con aguja<i class="material-icons right">more_vert</i></span>
      <p>$6.60</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Jeringa de 5ml con aguja<i class="material-icons right">close</i></span>
      <p>Jeringa de 5ml con aguja completamente esterilizada y lista para usarse (verifique el empaque) </p>

      <p>$6.60</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3 ">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_cubrebocas.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Cubrebocas desechable<i class="material-icons right">more_vert</i></span>
      <p>$2.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Cubrebocas<i class="material-icons right">close</i></span>
      <p>Resfriado?, Tos?, Infeccion Zombi? Este cubrebocas te ayudara en cualquier situacion</p>
      <p>Pieza individual</p>
      <p>$2.00</p>
      <br>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>



</div>



<div class="row">
  <br>
         <!-- <div class="col s12 m3 ">

         </div> -->


         <div class="col s12 m3 ">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_herbalife.jpg" %}">
            </div>
            <div class="card-content">
              <span class="card-title activator light-blue-text text-lighten-1">Suplemento Herbalife<i class="material-icons right">more_vert</i></span>
              <p>$526.00</p>
            </div>
            <div class="card-reveal">
              <span class="card-title light-blue-text text-lighten-1">Suplemento alimenticio Herbalife<i class="material-icons right">close</i></span>
              <p>Adicionado con todo lo que tu body necesita</p>
              <p>Lata con 783g</p>
              <p>$526.00</p>
              <a class="waves-effect waves-light btn">Comprar</a>
            </div>
          </div>
        </div>


        <div class="col s12 m3 ">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_cbd.jpg" %}">
            </div>
            <div class="card-content">
              <span class="card-title activator light-blue-text text-lighten-1">Extracto CBD verde<i class="material-icons right">more_vert</i></span>
              <p>$62.96</p>
            </div>
            <div class="card-reveal">
              <span class="card-title light-blue-text text-lighten-1">Extracto CBD (suplemento)<i class="material-icons right">close</i></span>
              <p>EXtracto de canabis sintetizado en comprimidos</p>
              <p>100 pildoras de 1g</p>
              <p>$62.96</p>
              <a class="waves-effect waves-light btn">Comprar</a>
            </div>
          </div>
        </div>




        <div class="col s12 m3">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_4loko.jpg" %}">
            </div>
            <div class="card-content">
              <span class="card-title activator light-blue-text text-lighten-1">Four Loko Original<i class="material-icons right">more_vert</i></span>
              <p>$36.90</p>
            </div>
            <div class="card-reveal">
              <span class="card-title light-blue-text text-lighten-1">Four Loko (sabores)<i class="material-icons right">close</i></span>
              <p>La asociacion nacional de la salud lo recomienda por su contenido energetico</p>
              <p>Lata 473ml</p>
              <p>$36.90</p>
              <a class="waves-effect waves-light btn">Comprar</a>
            </div>
          </div>
        </div>



        <div class="col s12 m3 ">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_sup_vendas.png" %}">
            </div>
            <div class="card-content">
              <span class="card-title activator light-blue-text text-lighten-1">Venda estéril elástica<i class="material-icons right">more_vert</i></span>
              <p>$15.00</p>
            </div>
            <div class="card-reveal">
              <span class="card-title light-blue-text text-lighten-1">Venda estéril elástica<i class="material-icons right">close</i></span>
              <p>Articulo que no puede faltar en tu botiquin,para realizar curaciones</p>
              <p>Venda de 15x5cm</p>
              <p>$15.00</p>
              <a class="waves-effect waves-light btn">Comprar</a>
            </div>
          </div>
        </div>




      </div>

    </div>


  <div><br></div>


{% endblock %}
