{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}


{% block contenido %}





     <div class="row">
 <center>
      <div class="col s12">
        <div class="row">
            <center><h3 class="contacto">Sucursal Oasis Coyoacán</h3></center>
        </div>
        <div class="row">
            <center><h6>&#9742; 01 800-655-592-569</h6></center>
        </div>
        <div class="row">
            <div class="col s4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.748968760521!2d-99.17883827546974!3d19.352931070347793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fffb1ff033dd%3A0x25b2b4dd8162233f!2sOasis+Coyoac%C3%A1n!5e0!3m2!1ses!2smx!4v1525966585798" width="900" height="370" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <p align="justify"></p>
        </div>
         <div class="col s12">
             <p align="justify" class="contacto">Visite cualquiera de nuestras sucursales para hallar el bienestar que tanto anhela en su vida.</p>
            </div>
        <br>
      </div>
   </center>
  </div>

   <div class="row">
 <center>
      <div class="col s12">
        <div class="row">
            <center><h3 class="contacto">Plaza Caracol, Puerto Vallarta</h3></center>
        </div>
        <div class="row">
            <center><h6>&#9742; 01 800-443-582-229</h6></center>
        </div>
        <div class="row">
            <div class="col s4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3733.704129653867!2d-105.2353060851289!3d20.640913306281284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842145774a3d44b7%3A0xe8707dbaf58af40b!2sPlaza+Caracol!5e0!3m2!1ses!2smx!4v1525968429248" width="900" height="370" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <p align="justify"></p>
        </div>
         <div class="col s12">
             <p align="justify" class="contacto">Sea bienvenido a la nueva sucursal Puerto Vallarta.</p>
            </div>
        <br>
      </div>
   </center>
  </div>

   <div class="row">
 <center>
      <div class="col s12">
        <div class="row">
            <center><h3 class="contacto" >Plaza La Isla, Cancun</h3></center>
        </div>
        <div class="row">
            <center><h6>&#9742; 01 800-068-696-765</h6></center>
        </div>
        <div class="row">
            <div class="col s4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d141685.96239839226!2d-86.78257391319966!3d21.06365156694032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c285f7409cf51%3A0x344e080d3e0664b4!2sPlaza+La+Isla+Cancun!5e0!3m2!1ses!2smx!4v1525968626644" width="900" height="370" frameborder="0" style="border:0" allowfullscreen></iframe></div>
            <p align="justify"></p>
        </div>
         <div class="col s12">
             <p align="justify" class="contacto">Siéntase seguro cuando salga de viaje, siempre hay una sucursal de Farmacias Hoffman cerca de usted.</p>
            </div>
        <br>
      </div>
   </center>
  </div>

  <div class="row">
 <center>
      <div class="col s12">
        <div class="row">
            <center><h3 class="contacto">Sugerencias</h3></center>
        </div>
        <div class="row">
            <center><h6 class="contacto">Su opinión es muy importante para nosotros, no olvide dejar un comentario.</h6></center>
        </div>
        <div class="row">
            <div class="col s4"><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfK9brca6DS6Z1baosUT0b1kBVLfypyOAnDlqGRytE8ScVr4Q/viewform?embedded=true" width="600" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe></div>
            <p align="justify"></p>
        </div>
         <div class="col s12">
             <p align="justify" class="contacto">Siéntase seguro cuando salga de viaje, siempre hay una sucursal de Farmacias Hoffman cerca de usted.</p>
            </div>
        <br>
      </div>
   </center>
  </div>



{% endblock %}
