<nav>
    <div class="nav-wrapper blue" >
    <a href="index.html"><img class="responsive-img" src="farmacia/img/logo_provisional.png">   </a>
      <a href="index.html" class="brand-logo left">Farmacias Hoffman</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li></li>
        <li><a href="productos.html">Productos</a></li>

        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="promociones.html">Promociones</a></li>
        <li><a href="registro.html">Registrarse</a></li>
        <li><a href="{% url 'productos_all' %}">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>