{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}


{% block contenido %}
    <div class="nav-wrapper">
    <nav>
      <div class="nav-wrapper cyan center">
        <ul class=" center hide-on-med-and-down center">
          <li><a href="medicamentos.html">Medicamentos</a></li>
          <li><a href="bebes.html">Bebés</a></li>
          <li><a href="sexo.html">Salud Sexual</a></li>
          <li><a href="botiquin.html">Botiquín y Suplementos</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>




<div class="container">
  <div class="row">
   <br><br><br>
   <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_codeina.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Jarabe Codeína 140ml<i class="material-icons right">more_vert</i></span>
        <p>$112.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Jarabe con  Codeína<i class="material-icons right">close</i></span>
        <p>El consumo de este producto es responsabilidad de quien lo usa</p>
        <p>Frasco de 114ml</p>
        <p>$112.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_ritalin.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Ritalin tabletas 10 mg<i class="material-icons right">more_vert</i></span>
        <p>$782.86</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Ritalin tabletas de 10mg<i class="material-icons right">close</i></span>
        <p>La venta de este medicamento requiere receta médica</p>
        <p>caja con 100 tabletas</p>
        <p>$782.86</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_penicilina.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Penicilina sol. inyectable<i class="material-icons right">more_vert</i></span>
        <p>$106.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Penicilina sol. inyectable<i class="material-icons right">close</i></span>
        <p>Para uso como antibiótico, analgésico y antipirético</p>
        <p>Frasco con 50ml</p>
        <p>$106.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_pervitin.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Pervitin tabletas 15mg<i class="material-icons right">more_vert</i></span>
        <p>$525.66</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Pervitin tabletas 15mg<i class="material-icons right">close</i></span>
        <p>Los originales de republica Checa a base de efedrín</p>
        <p>Comprimidos de 0.15g</p>
        <p>$525.66</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <br>
 <div class="col s12 m3 ">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_vitacilina.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Pomada Vitacilina<i class="material-icons right">more_vert</i></span>
      <p>$20.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Pomada Vitacilina<i class="material-icons right">close</i></span>
      <p>Vitacilina, a que buena medicina no acepte imitaciones</p>
      <p>Tubo con 26g</p>
      <p>$20.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_pastillas1.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Oxycontin cápsulas<i class="material-icons right">more_vert</i></span>
      <p>$2,482.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Oxycontin cápsulas<i class="material-icons right">close</i></span>
      <p>La venta de este medicamento requiere receta médica</p>
      <p>100 tabletas de 30mg</p>
      <p>$2,482.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_tramadol.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Tramadol ampolletas<i class="material-icons right">more_vert</i></span>
      <p>$140.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Tramadol sol. inyectable<i class="material-icons right">close</i></span>
      <p>El tramadol puede ser adictivo, especialmente con uso prolongado</p>
      <p>10 Ampolletas 100mg/2ml</p>
      <p>$140.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_dextro.jpg" %}">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Jarabe DXM Adultos<i class="material-icons right">more_vert</i></span>
      <p>$32.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Jarabe Dextrometorfano<i class="material-icons right">close</i></span>
      <p>Cuando necesites tratar una molesta tos con estilo</p>
      <p>Presentacion de 355ml</p>
      <p>$32.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>
</div>

<div class="row">
  <br>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_vic.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Vick Jarabe 240ml<i class="material-icons right">more_vert</i></span>
        <p>$135.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Vick Jarabe 240ml<i class="material-icons right">close</i></span>
        <p>jarabe expectorante Vick 44 exp, sabor a mentol y eucalipto</p>
        <p>Presentacion de 240ml</p>
        <p>$135.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_extracto.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Pure1600 CBD Oil<i class="material-icons right">more_vert</i></span>
        <p>$340.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">CBD Hemp Oil 1600<i class="material-icons right">close</i></span>
        <p>Aceite con extracto de cannabis y dispensador de gotero</p>
        <p>Frasco con 30 ml</p>
        <p>$340.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_analgesico.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Parche analgésico<i class="material-icons right">more_vert</i></span>
        <p>$650.66</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Parche analgésico<i class="material-icons right">close</i></span>
        <p>Analgesico natural de morfina sin efectos secundarios</p>
        <p>Paquete de 10 parches</p>
        <p>$650.66</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="{% static "farmacia/img/prod_med_paracetamol.jpg" %}">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Paracetamol Tabletas<i class="material-icons right">more_vert</i></span>
        <p>$90.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Paracetamol Tabletas<i class="material-icons right">close</i></span>
        <p>Un clásico entre los clásicos, tomalo en cualquier ocasión</p>
        <p>20 tabletas de 500mg</p>
        <p>$90.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

{% endblock %}

