{% extends 'farmacia/cuerpo.html' %}
{% block contenido %}
{% if productos %}
{% load static %}
<center>


<div class="container">
  <br>
  <div class="row">

<h2 class="prodtit" align="center">Medicamentos</h2>
  {% for producto in productos %}
  {% if producto.clasificacion == "medicina" %}

     <div class="col s11 m3 card medium blue lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height="200" width="200" src="{{ producto.url }}">
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">more_vert</i></span>
          <p>${{ producto.precio }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">close</i></span>
          <p>{{ producto.descripcion }}</p>
          <p>Provedor: {{ producto.provedor }}</p>
          <p>Contamos con {{ producto.cantidad }}</p>
          {% if producto.cantidad != 0%}
            {% if producto.descuento == 0 %}
              <p>Precio: ${{ producto.precio }}</p>
            {% else %}
              <p>Precio Original: ${{ producto.precio }}</p>
              <p>Descuento: ${{ producto.descuento }}</p>
              <p>Total: ${{ producto.total }}</p>
            {% endif %}
          {% endif %}
          <a class="waves-effect waves-light btn" href="{% url 'anadir_carrito' Folio=producto.folio %}" >Comprar</a>
        </div>
      </div>
      <div class="col s1"></div>

      {% endif %}
{% endfor %}
  </div>
</div>







<div class="container">
  <br>
  <div class="row">

<h2 class="prodtit" align="center">Salud sexual</h2>
  {% for producto in productos %}
  {% if producto.clasificacion == "sexo" %}

     <div class="col s11 m3 card medium purple lighten-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height="200" width="200" src="{{ producto.url }}">
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">more_vert</i></span>
          <p>${{ producto.precio }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">close</i></span>
          <p>{{ producto.descripcion }}</p>
          <p>Provedor: {{ producto.provedor }}</p>
          <p>Contamos con {{ producto.cantidad }}</p>
          {% if producto.cantidad != 0%}
            {% if producto.descuento == 0 %}
              <p>Precio: ${{ producto.precio }}</p>
            {% else %}
              <p>Precio Original: ${{ producto.precio }}</p>
              <p>Descuento: ${{ producto.descuento }}</p>
              <p>Total: ${{ producto.total }}</p>
            {% endif %}
          {% endif %}
          <a class="waves-effect waves-light btn" href="{% url 'anadir_carrito' Folio=producto.folio %}" >Comprar</a>
        </div>
      </div>
      <div class="col s1"></div>

      {% endif %}
{% endfor %}

  </div>
</div>


<div class="container">
  <br>
  <div class="row">

<h2 class="prodtit" align="center">Maternidad</h2>
  {% for producto in productos %}
  {% if producto.clasificacion == "bebe" %}

     <div class="col s11 m3 card medium red lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height="200" width="200" src="{{ producto.url }}">
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">more_vert</i></span>
          <p>${{ producto.precio }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">close</i></span>
          <p>{{ producto.descripcion }}</p>
          <p>Provedor: {{ producto.provedor }}</p>
          <p>Contamos con {{ producto.cantidad }}</p>
          {% if producto.cantidad != 0%}
            {% if producto.descuento == 0 %}
              <p>Precio: ${{ producto.precio }}</p>
            {% else %}
              <p>Precio Original: ${{ producto.precio }}</p>
              <p>Descuento: ${{ producto.descuento }}</p>
              <p>Total: ${{ producto.total }}</p>
            {% endif %}
          {% endif %}
          <a class="waves-effect waves-light btn" href="{% url 'anadir_carrito' Folio=producto.folio %}" >Comprar</a>
        </div>
      </div>
      <div class="col s1"></div>

      {% endif %}
{% endfor %}

  </div>
</div>

<div class="container">
  <br>
  <div class="row">

<h2 class="prodtit" align="center">Botiquín y Suplementos</h2>
  {% for producto in productos %}
  {% if producto.clasificacion == "botiquin" %}

     <div class="col s11 m3 card medium lime lighten-4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" height="200" width="200" src="{{ producto.url }}">
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">more_vert</i></span>
          <p>${{ producto.precio }}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title light-blue-text text-lighten-1">{{ producto.nombre }}<i class="material-icons right">close</i></span>
          <p>{{ producto.descripcion }}</p>
          <p>Provedor: {{ producto.provedor }}</p>
          <p>Contamos con {{ producto.cantidad }}</p>
          {% if producto.cantidad != 0%}
            {% if producto.descuento == 0 %}
              <p>Precio: ${{ producto.precio }}</p>
            {% else %}
              <p>Precio Original: ${{ producto.precio }}</p>
              <p>Descuento: ${{ producto.descuento }}</p>
              <p>Total: ${{ producto.total }}</p>
            {% endif %}
          {% endif %}
          <a class="waves-effect waves-light btn" href="{% url 'anadir_carrito' Folio=producto.folio %}" >Comprar</a>
        </div>
      </div>
      <div class="col s1"></div>

      {% endif %}
{% endfor %}

  </div>
</div>









</center>
{% endif %}
{% endblock %}
