{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}


{% block contenido %}


<center>
<div class="row">
 <br>
 <div class="col s1"></div>
  <div class="col s10">
 <h4 align="justify" class="untitulo"> En Farmacias Hoffman cuidamos también tu cartera, disfruta de nuestras promociones mensuales y descubre cómo cuidar tu salud ahorrando!!</h4>
</div>
  </div>
  <br>
</center>

<div class="container">
<div class="row">
  <div class="col s2"></div>
  <div class="col s12">

  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">

    </div>
    <div class="carousel-item purple accent-4 white-text" href="#one!">
      <h6>Jarabe Codeína 30% de descuento!!!!</h6>
      <img src="{% static "farmacia/img/promo_1.jpg" %}" height="100%>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item red accent-4 white-text" href="#two!">
      <h6>Condones Trojan 25% descuento hasta agotar existencias!!!</h6>
      <img src="{% static "farmacia/img/Trojan-Brand-Beings-Marketing-Trojan-Junior-Condoms-To-Pre-Teens.jpg" %}" height="100%">
    </div>
    <div class="carousel-item light-green darken-2 white-text" href="#three!">
      <h6>Pañales para recien nacido 10% de descuento!!!</h6>
      <img src="{% static "farmacia/img/promo_3.jpg" %}" height="100%">
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h6>Pharmaton cápsulas 15% de descuento!!!</h6>
      <img src="{% static "farmacia/img/promo_4.jpg" %}" height="100%">
    </div>
  </div>
  </div>
</div>
</div>




      <div class="contacto"><p align="center" style="font-family: 'IBM Plex Mono', monospace;">
        Aplican restricciones, promociones válidas sólo por compras en línea, el costo de envío no está contemplado en el producto.
        <br>Promociones válidas hasta el 06 de julio de 2018
      </p></div>



{% endblock %}
