{% extends 'farmacia/cuerpo.html' %}
{% load staticfiles %}


{% block contenido %}



  <div class="nav-wrapper">
    <nav>
      <div class="nav-wrapper cyan center">
        <ul class=" center hide-on-med-and-down center">
          <li><a href="medicamentos.html">Medicamentos</a></li>
          <li><a href="bebes.html">Bebés</a></li>
          <li><a href="sexo.html">Salud Sexual</a></li>
          <li><a href="botiquin.html">Botiquín y Suplementos</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>




<div class="container">
  <div class="row">
   <br><br><br>
   <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="img/prod_sex_condones1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Condones Trojan Ecstasy<i class="material-icons right">more_vert</i></span>
        <p>$56.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Condones Trojan Ecstasy<i class="material-icons right">close</i></span>
        <p>¡Siente el Placer, No el condón! Texturizado para una mayor estimulación</p>
        <p>Caja con 3 pzas</p>
        <p>$56.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="img/prod_sex_esposas.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Love Handcuffs (peluche)<i class="material-icons right">more_vert</i></span>
        <p>$249.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Love Handcuffs <i class="material-icons right">close</i></span>
        <p>Encierre a su amante y explore sus fantasías fetichistas con estas esposas</p>
        <p>1 pieza</p>
        <p>$249.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="img/prod_sex_prueba.png">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Prueba de embarazo<i class="material-icons right">more_vert</i></span>
        <p>$71.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Prueba de embarazo<i class="material-icons right">close</i></span>
        <p>Clearblue Prueba de embarazo digita.No indicada para uso interno</p>
        <p>Contiene 1 pza</p>
        <p>$71.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>

  <div class="col s12 m3 ">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" height="200" width="200" src="img/prod_sex_lub.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator light-blue-text text-lighten-1">Lubricante Starsex<i class="material-icons right">more_vert</i></span>
        <p>$169.00</p>
      </div>
      <div class="card-reveal">
        <span class="card-title light-blue-text text-lighten-1">Lubricante Starsex<i class="material-icons right">close</i></span>
        <p>Lubricante personal a base de agua,amigable con tu cuerpo y juguetes</p>
        <p>Presentacion 8ml</p>
        <p>$169.00</p>
        <a class="waves-effect waves-light btn">Comprar</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <br>
 <div class="col s12 m3 ">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="img/prod_sex_pdiasiguiente.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Pastilla Post-day comprimido<i class="material-icons right">more_vert</i></span>
      <p>$99.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Pastilla Post-day 1 dosis<i class="material-icons right">close</i></span>
      <p>Te pasaste de lanza anoche? tienes 72 horas para arreglarlo</p>
      <p>1 comprimido 1.5mg</p>
      <p>$99.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="img/prod_sex_viagra.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Viagra Pfizer 100mg<i class="material-icons right">more_vert</i></span>
      <p>$674.00</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Viagra Pfizer cápsluas<i class="material-icons right">close</i></span>
      <p>Para tratar la angina de pecho,ayuda tambien a tratar la disfunción eréctil</p>
      <p>4 tabletas de 100mg</p>
      <p>$674.00</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="img/prod_sex_condonessabor.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Bacon Condoms<i class="material-icons right">more_vert</i></span>
      <p>$536.34</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Condones sabor tocino<i class="material-icons right">close</i></span>
      <p>Preservativos de sabor, para que tu carne sepa a carne</p>
      <p>Empaque con 3 preservativos </p>
      <p>$536.34</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>

<div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" height="200" width="200" src="img/prod_sex_parche.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator light-blue-text text-lighten-1">Parches anticonceptivos<i class="material-icons right">more_vert</i></span>
      <p>$374.10</p>
    </div>
    <div class="card-reveal">
      <span class="card-title light-blue-text text-lighten-1">Parches anticonceptivos<i class="material-icons right">close</i></span>
      <p>Evita embarazos al impedir la llegada del esperma al óvulo</p>
      <p>Presentacion con 3 parches</p>
      <p>$374.10</p>
      <a class="waves-effect waves-light btn">Comprar</a>
    </div>
  </div>
</div>
</div>



</div>

{% endblock %}
